.MuiBadge-anchorOriginTopLeftCircle {
    top: 0 !important;
    left: 0 !important;
}

#users-list .MuiTypography-displayBlock {
    overflow-wrap: break-word;
    font-size: 0.75rem !important;
}

.MuiListItemSecondaryAction-root {
    left: 0px !important;
}

.MuiListItem-secondaryAction {
    padding-left: 48px !important;
}

.msg-wrapper {
    display: table-cell;
    vertical-align: bottom;
}